#############
## PYTHON
#############

*.py[cod]

# Packages
*.egg
*.egg-info
*.dist-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

#############
## OTHER
#############
secret.cfg

