@font-face {
    font-family: ultralight;
    src: url('/font/ultralight.woff');
}

@font-face {
    font-family: 'unicode sans medium';
    src: url('/font/medium.woff');
    font-weight: bold;
}

body {
    overflow-x: hidden;
    font-family: ultralight, Segoe, sans-serif;
	color: #fff;
}
.text-muted {
    color: #777
}
.text-primary {
    color: #FD391E
}
p , .unstyled {
    font-size: 16px;
    line-height: 1.75;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
p.large {
    font-size: 16px
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}
a {
    color: #FD391E /* normal red */
}
a:hover,
a:focus,
a:active,
a.active {
    color: #CA2D18 /* darker red */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'unicode sans medium', Segoe, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-darkest-gray {
    background-color: #222
}
.btn-primary {
    color: #fff;
    background-color: #FD391E;
    border-color: #FD391E;
    font-family: 'unicode sans medium', Segoe, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #FD391E;
    border-color: #FD391E
}
.btn-primary .badge {
    color: #FD391E;
    background-color: #fff
}
.btn-xl {
    color: #fff;
    background-color: #FD391E;
    border-color: #FD391E;
    font-family: 'unicode sans medium', Segoe, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #CA2D18;
    border-color: #CA2D18
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #FD391E;
    border-color: #FD391E
}
.btn-xl .badge {
    color: #FD391E;
    background-color: #fff
}
.navbar-default {
    background-color: #222;
    border-color: transparent
}
.navbar>.container .navbar-brand {
	margin-left: 0;
}
.navbar-default .navbar-brand {
    color: #FD391E;
    font-family: ultralight, Segoe, sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 180px;
	background: url(/img/evolve_logo.png);
	background-size: 170px;
	background-position-y: center;
	background-repeat: no-repeat;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #CA2D18;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}
.navbar-default .navbar-toggle {
    background-color: #FD391E;
    border-color: #FD391E
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FD391E
}
.navbar-default .nav li a {
    font-family: 'unicode sans medium', Segoe, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
	font-size: 125%;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #FD391E;
    outline: 0
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #FD391E
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #FD391E
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 1.6em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: #000;
        padding: 10px 0;
		border-bottom: 3px solid #FD391E;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.6em
    }
}
header {
    background-image: url(http://evolvegame.com/images/uploads/hyde2-hunter-evolve-1920x1080.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}
header .intro-text .intro-subheading {
    font-family: 'unicode sans medium', Segoe, sans-serif;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}
header .intro-text .intro-heading {
    font-family: 'unicode sans medium', Segoe, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
	color: #FD391E;
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }
    header .intro-text .intro-subheading {
        font-family: 'unicode sans medium', Segoe, sans-serif;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }
    header .intro-text .intro-heading {
        font-family: 'unicode sans medium', Segoe, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }
}
footer {
    padding: 25px 0;
    text-align: center
}
footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
ul.social-buttons {
    margin-bottom: 0
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
	text-align: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #FD391E
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}


/*                */

html {
    color: #bbb;
	background-color: #32090C;
	background: #32090C url('/img/bg/default.png');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
}

body {
	background: transparent;
}

.accordion-heading {
	background: #000;
	padding: 6px;
	margin-top: 12px;
	font-size: 20px;
	text-transform: uppercase;
}

.accordion-heading a {
	width: 100%;
	height: 100%;
	display: block;
}

.accordion-heading a:hover, .accordion-heading a:focus {
	text-decoration: none;
}

.accordion-body {
	background: #111;
	padding: 6px;
	margin-bottom: 12px;
	color: #fff;
	font-size: 16px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-header {
	margin-top: 60px;
	color: #fff;
}

.page-header.no-border {
	border: none;
}

.challenge-item {
	font-family: ultralight, Segoe, sans-serif;
	width: 100%;
	border: solid 1px #111;
	position: relative;
	overflow: hidden;
	height: 240px;
	margin-bottom: 20px;
	background: #111;
	color: #FD391E;
}

.challenge-item  .character-img img {
	margin: 0 auto;
}

.challenge-item:hover {
	border-color: #FD391E;
}

.challenge-item:hover .teaser {
	top: 0;
}

.challenge-item .teaser {
	background: rgba(0,0,0,.7);
	padding: 10px;
	height: 240px;
	position: absolute;
	top: 175px;
	left: 0;
	transition: all .4s linear;
	border-top: 2px solid #FD391E;
	width: 100%;
}

.challenge-item h3{
	font-size: 1.3em;
	text-align: center;
	margin: 0 0 20px;
	min-height: 1.8em;
}

.challenge-item p {
	color: #fff;
	text-align: center;
	font-size: 1.1em;
	font-weight: 600;
	font-family: ultralight, Segoe, sans-serif;
}

.challenge {
	text-align: center;
	color: #FD391E;
}

.challenge .percent {
	font-size: 4em;
}

.challenge.page-header, .jumbotron {
	font-family: ultralight, Segoe, sans-serif;
	background: rgba(0,0,0,.5);
	border: 2px solid #FD391E;
	border-left: 0;
	border-right: 0;
	color: #FD391E;
	margin-left: -15px;
	margin-right: -15px;
}

.challenge .white {
	color: #fff;
	font-weight: 600;
	text-align: center;
}

.challenge .current {
	color: #FD391E;
}

.challenge .completed {
	color: #fff;
}

.challenge .progress_normal {
	margin-top: 60px;
}

.challenge .progress_normal.completed  .current,
.challenge .progress_stretch.completed .current {
	color: #fff;
	font-family: ultralight, Segoe, sans-serif;
}

.completed.stretch::after {
	text-decoration: none;
}

.challenge .goal {
	color: #fff;
	font-family: ultralight, Segoe, sans-serif;
}

.challenge .action {
	color: #fff;
	margin-top: 40px;
}

.progress_bars {
	margin: 40px 0;
}

.challenge_progress .placeholder {
	height: 32px;
	position: relative;
	margin: 0 2px;
}

.armor .challenge_progress .placeholder {
	height: 26px;
}

.armor .challenge_progress .placeholder {
	margin: 0 1px;
}


.challenge_progress .bar_progress, .challenge_progress .bar_border {
	position: absolute;
}

.challenge_progress .bar_progress {
	-webkit-transition: width .75s;
	transition: width .75s;
	background: #FD391E;
	height: 32px;
}

.armor .challenge_progress .bar_progress {
	height: 26px;
}

.challenge_progress .bar_border {
	border: 4px solid rgba(255, 204, 204, .5);
	height: 100%;
	width: 100%;
}

.armor {
	margin-bottom: -10px;
	z-index: 50;
}

.armor .challenge_progress .bar_progress {
	background: rgb(32, 32, 163);
}

.armor .challenge_progress .bar_border {
	border-color: rgba(219, 219, 255, .35);
}

.footer {
	border-top: 2px solid #FD391E;
	border-bottom: 2px solid #FD391E;
	background-color: rgba(0,0,0,.7);
	padding: 30px 0;
	margin: 40px -15px 0 -15px;
	color: #bbb;
	font-size: 1.2em;
}

.update-info {
	margin-bottom: 20px;
}

.versus {
	margin-top: 100px;
	margin-bottom: 100px;
}

.versus .percent {
	font-size: 42px;
	line-height: 72px;
}

.versus .percent.winning {
	font-size: 72px;
}

.versus .v {
	margin: 0 auto;
}

.donate h2, h3 {
	color: #FD391E;
}

.donate h3 {
	color: #fff;
	margin-bottom: 20px;
}

.donate .btn {
	font-size: 200%;
	margin-bottom: 40px;
}

.section {
	background: rgba(0,0,0,.8);
	padding: 10px 15px 20px;
	margin-bottom: 40px;
}

img.hr {
	margin: 10px -15px;
}

.section .img-side {
	max-width: 40%;
}

.btn-group {
	margin-bottom: 20px;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #CA2D18;
    border-color: #CA2D18;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #CA2D18;
    border-color: #CA2D18;
}

.glyphicon {
	font-family: FontAwesome;
}

.glyphicon-chevron-left:before {
    content: "\f053";
}

.glyphicon-chevron-right:before {
    content: "\f054";
}

.header-padding {
	margin-top: 140px;
}

.jumbotron {
	background: rgba(0,0,0,.5);
	background-position: top right;
	background-repeat: no-repeat;
	color: #FD391E;
}

.jumbotron p {
	color: #fff;
	font-size: 2em;
	font-family: ultralight, Segoe, sans-serif;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
}

.fa-check.success {
	color: #5cb85c;
}

.black-transparent {
	background: rgba(0,0,0,.7);
}

.thumbnail {
	background-color: rgba(0,0,0,.5);
	border: 1px solid #FD391E;
}

.thumbnail img {
	opacity: .8;
}

.thumbnail img:hover, .thumbnail img:active {
	opacity: 1.0;
}

.thumbnail p {
	color: #fff;
	font-size: 1.2em;
}

.static.img-responsive {
	margin: 0 auto;
}

.row.no-gutters  > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.alert {
	font-weight: 800;
	font-size: 1.3em;
	color: #000;
	text-align: center;
	background-color: #ffe27c;
	border-color: #ffe27c;
}

.text-success {
	color: #5cb85c;
}

.text-warning {
	color: #ffe27c;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media (max-width: 480px) {
	.navbar-default .navbar-brand {
		padding-left: 124px;
		background-size: 40%;
	}
}

@media (max-width: 640px) {
	.jumbotron {
		background-size: contain;
		background-position: top right;
	}
}

@media (max-width: 767px) {
	html {
		background-image: url(http://localhost:13080/img/bg/default.png)!important;
		background-position: top left;
		background-size: auto;
	}
	
	.jumbotron {
		background-image: none !important;
	}
	
	.jumbotron .content {
		margin-left: 12px;
		margin-right: 12px;
	}
}

@media (min-width: 768px) {
	.page-header {
		margin-top: 140px;
	}
	
	.jumbotron {
		background-position: top right;
	}
	
	.jumbotron .content {
		max-width: 75%;
	}
}