<ul>
    <li>Site checks for updates every 5 min</li>
    <li>Evolve's Challenge API updates every 15 min</li>
    <li>Data reflects data retrieved from Evolve's API. Twitter posts may be off a little depending on when Turtle Rock Studios retrieves data/they have final say</li>
    <li>After the event is over, I take any data posted up to an hour after the event. This includes games that started before the event was over, but have not finished yet. Alternatively, this could also include games that started after the event.</li>
</ul>