<div class="container">
	<div class="page-header">
		<h1>About Evolve Challenges</h1>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="section">
				<h3>I'm just like you</h3>
				<p>Yes, you, sitting there in your chair staring at your screen. We both love Evolve and we both love to know our live progress in Evolve's community challenges.</p>
				<p>When evolve was released, community challenges were not a part of Evolve's original scope. Due to it being added post-release, Turtle Rock Studios and 2K didn't have a solid way of showing the community progress initially. They were able to easily update us on social media at least once during a challenge, but I felt this simply wasn't enough. The community generally had no clue where they were at until the challenge was halfway over leaving the rest up to speculation.</p>
				<h3>Public challenge API</h3>
				<p>A user posted on reddit linking a public API where you can see the challenge progress updated in 15 minute intervals. At first I thought it was a hoax, but decided to look into it. After further research I validated that the information provided in the API was lining up with the final tallies reported by Evolve, so decided to purchase EvolveChallenges.com and put my web development skills to work!</p>
				<h3>Live Progress Tracker!</h3>
				<p>After spending a few weeks of free time to making this site it was ready for the next challenge. I posted it on Reddit and linked it on the TRS Forums and people loved it. I even got <strong>skills4u2envy</strong> to help me make some custom backgrounds for challenge pages as well as other friends to bounce ideas off of among other things.</p>
				<p>Fast forward a couple months and I completely redid the site with a better design and included other elements such as previous challenges. In addition the site is more automated--when a new challenge hits the API, EvolveChallenges.com is quick to know about it and share it with you guys!</p>
				<h3>Thank you</h3>
				<p>I would like to extend my thanks to the Turtle Rock developers for their support and making such an awesome game! I would also like to thank YOU for actively using this site! It means a lot when I see traffic flowing in from all over the world and posted on various websites!</p>
				<h3>Wait! I have ideas!</h3>
				<p>Great! I love getting feedback and new ideas! Find me on Steam, Twitter, Turtle Rock forums or other various methods with the links below!</p>
				<ul class="list-inline social-buttons">
					<li>
						<a href="https://github.com/mizx/evolvechallenges" target="_blank" title="GitHub">
							<i class="fa fa-github"></i>
						</a>
					</li>
					<li>
						<a href="https://steamcommunity.com/id/mizx" target="_blank" title="Steam">
							<i class="fa fa-steam"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/mrmizx" target="_blank" title="Twitter">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://talk.turtlerockstudios.com/users/mizx/activity" target="_blank" title="Turtle Rock Forums">
							<i class="fa fa-commenting"></i>
						</a>
					</li>
				</ul>
				<h3>More, more! (technical bits...)</h3>
				<p>On top of this site being something useful and easy for people to check challenge progress, it was a personal project. I've done numerous projects that never saw the sunlight, and this was a great opportunity that would be fun and practical. The site itself is open source and anyone is able to take a look at the source code to see what's going on behind the scenes. I hope someone eventually finds some pieces of it useful for other applications they are using!</p>
				<p>Primary Technologies/Projects Used:</p>
				<ul class="unstyled">
					<li>Google App Engine</li>
					<li>GitHub</li>
					<li>Python</li>
					<li>AngularJS</li>
					<li>Bootstrap</li>
					<li>Moment.js</li>
					<li>Font Awesome Icons</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>