<div class="page-header top">
	<h1>Previous Challenges</h1>
</div>
<div class="row">
	<div ng-repeat="challenge in challenges | orderBy:'-start'">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<a href="/challenge/{{ challenge.slug }}">
				<div class="challenge-item">
					<div class="character-img">
						<img src="{{ challenge.thumbnail }}" class="img-responsive" />
					</div>
					<div class="teaser">
						<h3>{{ challenge.name }}</h3>
						<p>{{ challenge.progress / challenge.goal * 100 | number : 0}}%</p>
						<p ng-if="challenge.is_achieved"><i class="fa fa-unlock"></i> ACHIEVED</p>
						<p ng-if="!challenge.is_achieved"><i class="fa fa-lock"></i> NOT ACHIEVED</p>
						<p>{{ challenge.start | moment : 'utc' | moment : 'fromNow' }}</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>