<div class="container-fluid">
	<div class="page-header challenge">
		<h1>{{ challenge.name }}</h1>
	</div>
	<div class="container challenge versus" ng-show="challenge.type == 'versus'">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h1 class="white" ng-if="challenge.is_achieved">COMPLETED</h1>
			</div>
			<div class="col-xs-12 col-sm-5">
				<h1 class="white percent" ng-class="{winning: challenge.progress > 50}">{{ challenge.progress | number : 1}}%</h1>
				<h1 class="name">{{ challenge.versus_names[0] }}</h1>
			</div>
			<div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-sm-2">
				<img class="v img-responsive" src="/img/misc/versus.png" />
			</div>
			<div class="col-xs-12 col-sm-5">
				<h1 class="white percent" ng-class="{winning: challenge.progress < 50}">{{ 100 - challenge.progress | number : 1}}%</h1>
				<h1 class="name">{{ challenge.versus_names[1] }}</h1>
			</div>
		</div>
	</div>
	<div class="container challenge" ng-show="challenge.type == 'counter'">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="white" ng-if="challenge.is_achieved">COMPLETED</h1>
				<h1 class="white percent">{{ challenge.percent | number : 0}}%</h1>
			</div>
		</div>
		<div class="row armor no-gutters" ng-show="challenge.is_achieved && challenge.is_stretch">
			<div class="col-xs-1 col-xs-offset-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 100%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 100%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 100%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 100%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 23%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row health no-gutters">
			<div class="col-xs-2 col-xs-offset-1">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 100%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 100%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 100%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 100%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="challenge_progress">
					<div class="placeholder">
						<div class="bar_progress" style="width: 15%"></div>
						<div class="bar_border"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2 class="progress_normal" ng-class="{completed: challenge.is_achieved}">
					<span class="current">{{ challenge.progress | number : 0 }}</span>
					<span class="goal">/ {{ (challenge.is_achieved && challenge.is_stretch) ? challenge.goal_stretch : challenge.goal | number : 0 }}</span>
				</h2>
				<h3 class="white" ng-if="challenge.is_active">ends {{ challenge.end | moment : 'utc' | moment : 'fromNow' }}</h3>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<h1 class="action">{{ challenge.action }}</h1>
				<h3 class="reward" ng-class="{completed: challenge.is_achieved, stretch: challenge.is_stretch}">
					<i ng-if="challenge.is_achieved" class="fa fa-check"></i>
					{{ challenge.reward }}
				</h3>
				<h2 class="reward_stretch" ng-if="challenge.is_stretch" ng-class="{completed: challenge.is_achieved}">
					<i ng-if="challenge.is_achieved_stretch" class="fa fa-check"></i>
					{{ challenge.reward_stretch }}
				</h2>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<h4>
						<a href="{{ challenge.url_news }}">
							More info @ EvolveGame.com <i class="fa fa-external-link-square"></i>
						</a>
					</h4>
					<ul class="list-unstyled">
						<li>Last updated {{ challenge.updated | moment : 'utc' | moment : 'fromNow' }}</li>
						<li>Last API fetch {{ challenge.checked | moment : 'utc' | moment : 'fromNow' }}</li>
					</ul>
				</div>
				<div class="col-xs-12 col-md-8">
					<div google-chart chart="chart" style="height: 200px; width: 100%"></div>
				</div>
			</div>
		</div>
	</div>
</div>