<div class="container donate">
	<div class="page-header">
		<h1>Donate</h1>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2>Enjoy the website?</h2>
			<h3>Donate to keep it active and updated!</h3>
			<a type="button" class="btn btn-lg btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=EK6VBFTW9YQ8Y&lc=US&item_name=Evolve%20Challenges&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">DONATE <i class="fa fw fa-paypal"></i></a>
			<img class="img-responsive" src="/img/misc/hr_crow_gobi_tall.jpg">
		</div>
	</div>
</div>