<!---<div class="jumbotron">
	<h1>Test</h1>
	<p>Test test test test</p>
	<p><a class="btn btn-primary btn-lg" href="#">Clicky</a></p>
</div>--->
<div class="container">
	<div class="row">
		<div style="height: 600px;">
			<carousel interval="5000" no-wrap="false">
				<slide ng-repeat="challenge in challenges" active="slide.active">
					<img ng-src="{{ challenge.background }}" style="margin: auto;">
					<div class="carousel-caption">
						<h2>{{ challenge.name }}</h2>
						<p>{{ challenge.reward }}</p>
						<a href="#" class="btn btn-primary btn-lg">View Progress</a>
					</div>
				</slide>
			</carousel>
		</div>
	</div>
</div>