<!---<div class="jumbotron">
	<h1>Test</h1>
	<p>Test test test test</p>
	<p><a class="btn btn-primary btn-lg" href="#">Clicky</a></p>
</div>--->
<div class="header-padding"></div>
<div class="container-fluid">
	<div ng-repeat="challenge in challenges">
		<div class="jumbotron" style="background-image: url('{{ challenge.thumbnail }}')">
			<div class="content">
				<h1>{{ challenge.name }}</h1>
				<p>
					<i ng-if="challenge.is_achieved" class="fa fa-check-square-o"></i>
					<i ng-if="!challenge.is_achieved" class="fa fa-square-o"></i>
					{{ challenge.action }}
					<span ng-if="challenge.is_stretch"><br>
						<i ng-if="challenge.is_achieved_stretch" class="fa fa-check-square-o"></i>
						<i ng-if="!challenge.is_achieved_stretch" class="fa fa-square-o"></i>
						Stretch Goal
					</span>
				</p>
				<p class="text-uppercase">
					<strong ng-if="challenge.is_countdown">starts {{ challenge.start | moment : 'utc' | moment : 'fromNow' }}</strong>
					<strong ng-if="challenge.is_active">ON NOW - ends {{ challenge.end | moment : 'utc' | moment : 'fromNow' }}</strong>
				</p>
				<p ng-if="!challenge.is_countdown">
					<a class="btn btn-primary btn-lg" href="/challenge/{{ challenge.slug }}">
						View Challenge
					</a>
				</p>
			</div>
		</div>
	</div>
	<div ng-hide="!challenges.length">
		<div class="jumbotron" style="background-image: url('/img/characters/trapper/maggie/thumbnail_daisy.png')">
			<div class="content">
				<h1>No Active Challenges</h1>
				<p>...check back later for future challenges</p>
				<p>Don't forget about Evolve's <a href="http://battlefy.com/turtle-rock-studios" target="_blank">Community Tournaments</a></p>
				<p>
					<a class="btn btn-primary btn-lg" href="/challenges">
						View Previous Challenges
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="thumbnail">
				<a href="https://talk.turtlerockstudios.com/" target="_blank">
					<img src="/img/home/turtle_rock_invert.png">
				</a>
				<div class="caption">
					<h3>TRS Forums</h3>
					<p>The official forums for Turtle Rock Studios, creators of Evolve and Left 4 Dead. Chat with the developers and other community members of Evolve!</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<a href="https://www.reddit.com/r/EvolveGame" target="_blank">
					<img src="/img/home/reddit.png">
				</a>
				<div class="caption">
					<h3>Reddit</h3>
					<p>Talk about evolve with Redditors and share strategies, ideas, tips, tricks, and other active discussions.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<a href="https://twitter.com/EvolveGame" target="_blank">
					<img src="/img/home/twitter.png" class="img-responsive">
				</a>
				<div class="caption">
					<h3>Twitter</h3>
					<p>Keep up with Tweets from Evolve's developers, Turtle Rock Studios. Also get notified when they are streaming and other evolve related news topics.</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>