<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="http://blocsapp.com/favicon.png" />
    <meta name="keywords" content="design,web,mac,app,simple,">
    <meta name="description" content="Blocs is a Mac app that lets you build beautiful websites without touching a line of code.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-3.3.4/bootstrap.css">
    <link rel="stylesheet" id="ppstyle" type="text/css" href="/assets/css/style.css">
    <title>EVOLVE NEW</title>
</head>    
<body>
<!-- Main container -->
<div class="page-container">

<!-- features bloc -->
<div class="bloc  d-bloc" id="features">
	<div class="container bloc-xl">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center mg-sm">
					<strong>WHY YOU&rsquo;LL LOVE</strong>
				</h2>
				<h3 class="text-center mg-xl">
					TO BUILD WITH BLOCS
				</h3>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-4">
				<img width="200" height="200" src="img/bulb.png" class="img-responsive mg-md center-block" alt='bulb' />
				<h4 class="mg-md text-center ">
					<strong>INTUITIVE</strong>
				</h4>
				<p class="text-center mg-lg">
					Blocs has many time saving features such as smart swatches & auto type colouring.
				</p>
			</div>
			<div class="col-sm-4">
				<img width="200" height="200" src="img/rocket.png" class="img-responsive mg-md center-block" alt='rocket' />
				<h4 class="mg-md text-center ">
					<strong>FAST</strong>
				</h4>
				<p class="text-center mg-lg">
					Blocs really is insanely fast, you can build full webpage layouts in minutes. 
				</p>
			</div>
			<div class="col-sm-4">
				<img width="200" height="200" src="img/no-code.png" class="img-responsive mg-md center-block" alt='coding' />
				<h4 class="mg-md text-center ">
					<strong>NO CODING</strong>
				</h4>
				<p class="text-center  mg-lg">
					You don't need to understand or use any coding to build a website with Blocs.
				</p>
			</div>
		</div>
        <div class="row voffset">
			<div class="col-sm-4 mg-lg">
				<img width="200" height="200" src="img/bootstrap3.png" class="img-responsive mg-md center-block" alt='bootstrap' />
				<h4 class="mg-md text-center">
					<strong>BOOTSTRAP 3</strong>
				</h4>
				<p class="text-center mg-lg">
					Blocs builds using Bootstrap 3 one of the most reliable and proven frameworks.
				</p>
			</div>
			<div class="col-sm-4">
				<img width="200" height="200" src="img/responsive.png" class="img-responsive mg-md center-block" alt='responsive' />
				<h4 class="mg-md text-center">
					<strong>RESPONSIVE</strong>
				</h4>
				<p class="text-center mg-lg">
					Because Blocs builds following page flow, sites are responsive with no extra work.
				</p>
			</div>
			<div class="col-sm-4">
				<img width="200" height="200" src="img/type.png" class="img-responsive mg-md center-block" alt='webfonts' />
				<h4 class="mg-md text-center">
					<strong>WEB FONTS</strong>
				</h4>
				<p class="text-center mg-lg">
					Blocs has a curated list of Google Web Fonts that you can easy use in your sites.
				</p>
			</div>
		</div>
        <div class="row voffset">
			<div class="col-sm-4 mg-lg">
				<img width="200" height="200" src="img/infinity.png" class="img-responsive mg-md center-block" alt='unlimited' />
				<h4 class="mg-md text-center">
					<strong>UNLIMITED WEBSITES</strong>
				</h4>
				<p class="text-center mg-lg">
					Since Blocs is an actual desktop app you can build as many websites as you like.
				</p>
			</div>
			<div class="col-sm-4">
				<img width="200" height="200" src="img/blocs.png" class="img-responsive mg-md center-block" alt='blocs' />
				<h4 class="mg-md text-center">
					<strong>PRE MADE BLOCS</strong>
				</h4>
				<p class="text-center mg-lg">
					Blocs comes with many pre-made layouts, so building and prototyping is super fast.
				</p>
			</div>
			<div class="col-sm-4">
				<img width="200" height="200" src="img/eye.png" class="img-responsive mg-md center-block" alt='eye' />
				<h4 class="mg-md text-center">
					<strong>RETINA SUPPORT</strong>
				</h4>
				<p class="text-center mg-lg">
					Blocs has retina support, so you can enjoy every pixel on your Macs retina screen.
				</p>
			</div>
		</div>
        <div class="row voffset">
			<div class="col-sm-4">
				<img width="200" height="200" src="img/tick.png" class="img-responsive mg-md center-block" alt='tick' />
				<h4 class="mg-md text-center">
					<strong>EASY TO USE</strong>
				</h4>
				<p class="text-center mg-lg">
					Blocs is one of the easiest website building tools, anyone can build with Blocs.
				</p>
			</div>
			<div class="col-sm-4">
				<img width="200" height="200" src="img/heart.png" class="img-responsive mg-md center-block" alt='heart' />
				<h4 class="mg-md text-center">
					<strong>BEAUTIFUL</strong>
				</h4>
				<p class="text-center mg-lg">
					Not only is Blocs a great tool to use, it's also one you can enjoy to look at.
				</p>
			</div>
			<div class="col-sm-4">
				<img width="200" height="200" src="img/power.png" class="img-responsive mg-md center-block" alt='offline' />
				<h4 class="mg-md text-center">
					<strong>WORKS OFFLINE</strong>
				</h4>
				<p class="text-center mg-lg">
					Unlike so many other website building tools Blocs actually works offline.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- features bloc END -->

<!-- Footer bloc -->
<div class="bloc  d-bloc" id="footer">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12 text-center">
				<h4><strong>MAC ONLY -  OSX 10.9 Minimum</strong></h4>
			</div>
		</div>
	</div>
</div>
<!-- Footer bloc END -->
</div>
    
<!-- Main container END -->
    
<!-- Video Modal -->
  <div class="modal fade" id="demoVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-video">
      <div class="modal-content modal-black">
        <div class="modal-body">
         	<a type="button" class="close close-video pauseallvimeo" data-dismiss="modal" aria-hidden="true"><span class="fa fa-close"></span></a>
           <div class="video-frame"> 
        		<iframe src="http://player.vimeo.com/video/111507117" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
           </div> 
        </div>
      </div>
    </div>
  </div>
<!-- Video Modal END -->

</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/assets/js/evolve.js"></script>
<!-- Google Analytics -->
<script></script>
<!-- Google Analytics END -->

</html>
