<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Keep up-to-date with community challenges in Evolve">
    <meta name="author" content="mizx">
    <meta http-equiv="refresh" content="900" >

    <title>{{ challenge.name }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap-3.3.4/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	
	<style>
		body {
			background: url(/img/{{ challenge.background }}) no-repeat top center scroll;
		}
	</style>

    <script type="text/javascript">
        var challenge = {
            config: {{ challenge.config|json }},
            isAchieved: {{ challenge.is_achieved|lower }},
            is_active: {{ challenge.is_active|lower }},
            name: '{{ challenge.name }}',
            id: {{ challenge.num }},
            progress: {{ challenge.progress }},
            start: {{ challenge.get_start_seconds() }},
            end: {{ challenge.get_end_seconds() }},
            type: '{{ challenge.type }}',
            news_url: '{{ challenge.url }}'
        };
    </script>
   
    
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    
    <nav class="navbar navbar-custom top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    {{ challenge.name }}
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row health_progress">
                    <div class="col-xs-2 col-xs-offset-1">
                        <div class="placeholder">
                            <div class="bar_progress" style="width: 0%"></div>
                            <div class="bar_border"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="placeholder">
                            <div class="bar_progress" style="width: 0%"></div>
                            <div class="bar_border"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="placeholder">
                            <div class="bar_progress" style="width: 0%"></div>
                            <div class="bar_border"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="placeholder">
                            <div class="bar_progress" style="width: 0%"></div>
                            <div class="bar_border"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="placeholder">
                            <div class="bar_progress" style="width: 0%"></div>
                            <div class="bar_border"></div>
                        </div>
                    </div>
                </div>
				{% set data_max = challenge.get_max_datapoint() %}
				{% set data_goal = challenge.config['Goal'] %}
				{% set has_stretch = challenge.config.has_key('StretchGoal') %}
				{% set in_stretch = has_stretch and data_max > data_goal %}
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="percent text-center">{{ challenge.progress|percent }}</h2>
							<p class="text-center challenge-text">
								{% if in_stretch %}<strike>{% endif %}
									{{ data_max|number }} / <span>{{ challenge.config['Goal']|number }}</span>
								{% if in_stretch %}</strike>{% endif %}
							</p>
						{% if in_stretch %}
							<p class="text-center challenge-text">STRETCH GOAL: {{ challenge.progress_stretch|percent }}<br>
								{{ data_max|number }} / <span>{{ challenge.config['StretchGoal']|number }}</span>
							</p>
						{% endif %}
						
						
						<h2 class="header text-center">{{ challenge.header }}</h1>
						<p class="reward-text text-center">{{ challenge.reward }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
					{% if challenge.is_active %}
					<div id="clock_text" class="hidden"></div>
                    <div id="clock" data-end="{{ challenge.end }}" data-start="{{ challenge.start }}"></div>
					{% endif %}
					<p class="author text-center">Developed by <a href="http://steamcommunity.com/id/mizx" target="_blank">mizx</a></p>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div id="chart"></div>
                </div>
                
            </div
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap-3.3.4/bootstrap.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/progressbar.min.js"></script>
    
     
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1.1', {packages: ['line']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var jsonData = $.ajax({
          url: "/api/challenge_data/" + challenge.id,
          dataType:"json",
          async: false
          }).responseText;

      var data = new google.visualization.DataTable(jsonData);

      var options = {
        legend: {position: 'none'},
        colors: ['fd391e'],
        backgroundColor: { fill: "none" }
      };
      

      var chart = new google.charts.Line(document.getElementById('chart'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
    </script>

    <script src="/js/evolve.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64524533-1', 'auto');
	  ga('send', 'pageview');

	</script>

</body>

</html>
