<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Get Ranked Community Challenge</title>

    <link href="/css/bootstrap-3.3.4/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	
	<style>
		body {
			background: url(/img/goliath_bg.jpg) no-repeat top center scroll;
		}
	</style>
    
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    
    <nav class="navbar navbar-custom top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    Get Ranked Community Challenge
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="header text-center">20,000 Players Complete Their Placement Matches</h2>
				<p class="reward-text text-center">Get Bucket Infinity Skin</p>
				<p class="reward-text text-center"><small>Complete both Monster and Hunter placements to be counted twice!</small></p>
            </div>
        </div>
    </div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="challenge-text text-center"><span>No DATA from API :(</span></p>
					<p style="text-align: left">Unfortunately there is no data from the API for this challenge.
					<br>What does this mean? No live progress bar to keep up on challenge progress.
					<br>Once Evolve's developers post the final tally I'll make sure to create a results page.</p>
				</div>
			</div>
		</div>
	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64524533-1', 'auto');
	  ga('send', 'pageview');

	</script>

</body>

</html>
