<div class="row">
	<div class="col-xs-12 col-sm-12">
		<h1 class="white">Incomplete - Skins Rewarded</h1>
		<p><i>Challenge was not completed but Turtle Rock Studios awarded the skin to all Evolve players.</i></p>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<h3>Thursday</h3>
		<h4 class="completed">825 / 2,000</h4>
		<h4 class="completed">2K Concurrent Viewers</h3>
		<h4 class="reward completed">Get Markov Dragonscale Skin</h4>
		<h3>Friday</h3>
		<h4 class="completed">746 / 2,000</h4>
		<h4 class="completed">2K Concurrent Viewers</h3>
		<h4 class="reward completed">Get Hyde Dragonscale Skin</h4>
		<h3>Saturday</h3>
		<h4 class="completed">641 / 2,000</h4>
		<h4 class="completed">2K Concurrent Viewers</h3>
		<h4 class="reward completed">Get Parnell Dragonscale Skin</h4>
		<h3>Saturday</h3>
		<h4 class="completed">586 / 2,000</h4>
		<h4 class="completed">8K Concurrent Viewers</h3>
		<h3 class="reward completed">
			<i class="fa fa-check"></i>
			Get Assault Dragonscale Skin Set
		</h3>
	</div>
</div>